
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: #dadada;
  font-size: 10px;
  font-family: sans-serif;
}


h1 {
  height: 40px;
  font-size: 120%;
  font-weight: 400;
  padding-top: 10pt;
  padding-left: 10pt;
}

.header {
  width: 196px;
  height: 50px;
  text-align: center;
  padding-top: 5px;
}

.header h1 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 100%;
}

.preview-baku {
  width: 196px;
  height: 136px;
  background-image: url(../images/baku.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 20px;
}

.preview-london {
  width: 196px;
  height: 136px;
  background-image: url(../images/london.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 20px;

}

.preview-madrid {
  width: 196px;
  height: 136px;
  background-image: url(../images/madrid.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 20px;
}

.preview-rome {
  width: 196px;
  height: 136px;
  background-image: url(../images/rome.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (min-width: 575px){
   .container {column-count: 2;
    margin: 1%;
    width: 60%;}
  }

  @media screen and (min-width: 900px){
     .container {column-count: 4;
     margin: 1%;
      width: 80%;}
     }
