
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: #dadada;
  font-size: 20px;
  font-family: sans-serif;
}

.container h1 {
  font-size: 60%;
  font-weight: 400;
  padding: 10px;
}

.header h1 {
  text-transform: uppercase;
  letter-spacing: .5px;
  font-weight: 500;
  font-size: 50%;
  text-align: center;
  padding-top: 25px;
}


.preview-baku {
  background-image: url(../images/baku.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.preview-london {
  background-image: url(../images/london.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.preview-madrid {
  background-image: url(../images/madrid.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.preview-rome {
  background-image: url(../images/rome.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


div {
  width: 196px;
  height: 136px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto;
}

.header {
  width: 196px;
  height: 50px;
}



@media screen and (min-width: 575px){
  div {
    display: inline-block;
    width: 49%;
    height: 200px;
}
  .container {
    width: 400px;
    margin: auto;
  }
  .header {
    display: block;
    margin: auto;
  }
}

  @media screen and (min-width: 900px){
    div {
      display: inline-block;
      width: 24%;
      height: 200px;
    }

    .container {
      width: 700px;
      margin: auto;
    }
  }
